<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utopia-A blogger's Fam</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="navbar">
        <h1 class="logo"><i>Utopia-A Blogger's Fam</i></h1>
        <ul class="tabs">
            <li class="tab"><a href="">Home</a></li>
            <li class="tab"><a href="">Latest</a></li>
            <li class="tab"><a href="/Posts">Posts</a></li>
            <li class="tab"><a href="/signup">SignUp</a></li>
            <li class="tab"><a href="">Contact Us</a></li>
        </ul>
        
    </div> 
    <div class="about">
        <h3 style="text-align: justify;">'Welcome to Utopia – your personal space to share stories, ideas, and inspiration with the world. Start writing, connect with like-minded voices, and let your thoughts take flight.Whether you're a passionate writer or just getting started, your voice matters here. Dive in, express freely, and be part of a growing community of storytellers.'</h3>
        
    </div>  
    <a href="/login"><button class="login"><b>Sign in</b></button></a>
</body>
</html>