<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="outerBox">
        <div class="box">
            <h1 class="Login">LOGIN</h1><br>
            <form action="/login" method="POST">
                <input type="text" class="in" placeholder="Enter username" name="username"><br><br>
                <input type="password" class="in" placeholder="Enter password" name="password"><br><br>
                <button class="in">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>