<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write your Blog</title>
    <link rel="stylesheet" href="style5.css">
</head>
<body>
    
    <form action="/your-blog-added" method="post">
        
        <div class="box">
            <h1>Write your Blog here! Make your voice count</h1>
            <textarea name="title" class="text-box2" placeholder="Enter you title"></textarea><br><br>
            <textarea name="content" class="text-box" placeholder="Enter you content"></textarea><br><br>
            <button class="sub">Submit</button>
        </div>
    </form>    
</body>
</html>